.eachEvent {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  margin-top: 20px;
  margin-bottom: 45px;
  width: 50%;
}

.eventLine {
  width: 80%;
  height: 10px;
  background: black;
  margin-bottom: 1cm;
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
